

body{
    /* background-image: url("../img/docs.jpg"); */
    background-color: rgb(163, 192, 223);
}



.nav-link{
    color: rgb(255, 255, 255);
    background-color: rgba(34, 86, 191, 0.34) !important;
}


/* body */
div p{
  text-align: center;
  font-size: 4rem;
}

.btn-primary {
    
    background-color: rgb(34,87,191);
    border-color:rgb(34,87,191);
}
.btn-primary:hover{
    background-color: rgb(22, 56, 124);
    border-color:rgb(34,87,191);
}


li > a:hover {
    color: white;
}

.nav-link.active{
    background-color:rgb(34,87,191) !important;
}




.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
}