div p{
  text-align: center;
  font-size: 4rem;
}
body{
    /* background-image: url("../img/docs.jpg"); */
    background-color: rgb(163, 192, 223);
}
.btn-primary {
    background-color: rgb(34,87,191);
    border-color:rgb(34,87,191);
}
.btn-primary:hover{
    background-color: rgb(22, 56, 124);
    border-color:rgb(34,87,191);
}


li > a:hover {
    color: white;
}



.card {
    margin: 0 auto; 
    float: none; 
    margin-bottom: 10px; 
}