body{
    /* background-image: url("../img/docs.jpg"); */
    background-color: rgb(147, 143, 143);
}

.main
{
    height: 620px;
}

  /* body */
  div p{
    text-align: center;
    font-size: 70px;
  }

  .btn-primary {
    background-color: #333;
    border-color:#333;
}
.btn-primary:hover{
    background-color: #111;
    border-color:#111;
}


li > a:hover {
    color: white;

}


