body{
    background-color: rgb(134, 179, 182);
    background-image: url("../img/doctor-netherlands-1920x1080.png");
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    overflow: hidden;
} 
#login{
    background: rgba(255, 255, 255, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 2px solid rgb(250, 231, 231);
}
.textfield{
    background: rgba(234, 11, 11, 0);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
    border: 1px solid rgb(26, 107, 228);
}

div p{
  text-align: center;
  font-size: 4rem;
}
.btn-primary {
    margin: 1.5rem;
    background-color: rgb(26, 107, 228);
    border-color:rgb(26, 107, 228);
}
.btn-primary:hover{
    background-color: rgb(1, 70, 173);
    border-color:rgb(1, 70, 173);
}
/* li > a:hover {
    color: white;
} */


