
body{
    background: rgba(214, 250, 250, 0.966);
    background-image: url("../img/Hospital_interior.jpg");
    background-blend-mode: multiply; 
    background-size: cover;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    overflow-y: scroll;
    overflow-x: hidden;
}

.doctor-profile-pic{
    border-radius: 16px;
}


.navbar{
    margin-top: 0.1rem;
    border-radius: 0.5rem;
    background: rgba(190, 225, 228, 0.6);
    border: 1px solid rgba(39, 101, 214, 0.616);
}

.nav-item{
    margin-left: 1rem;
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
}

#searchbox{
    border: 1px solid rgb(26, 107, 228);
}

.nav-item >a:hover{
    color: #064e96;
}

.card{
    background: rgba(190, 225, 228, 0.6);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.4px);
    -webkit-backdrop-filter: blur(5.4px);
    border: 1px solid rgb(26, 107, 228);
}

/* body */
div p{
  text-align: center;
  font-size: 4rem;
}

.btn-primary {
    margin: 1.5rem;
    background-color: rgb(26, 107, 228);
    border-color:rgb(26, 107, 228);
}
.btn-primary:hover{
    background-color: rgb(1, 70, 173);
    border-color:rgb(1, 70, 173);
}

li > a:hover {
    color: white;
}