*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    /* background-image: url("../img/docs.jpg"); */
    background-color: rgb(42, 131, 233);
    background-image: url("../img/patient.jpg");
    background-size: cover;
    background-position: center;
    overflow: hidden;
}



/* body */
div p{
  text-align: center;
  font-size: 4rem;
}

.btn-primary {
    margin: 1.5rem;
    background-color: #333;
    border-color:#333;
}
.btn-primary:hover{
    background-color: #111;
    border-color:#111;
}


li > a:hover {
    color: white;
}


